 {% load django_htmx %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        {% htmx_script %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <h1>Hello World</h1>
        <div class="bigwrapper">
            <header></header>
            
            <div class="wrapper">
                <div class="outlets" id="outlets">
                    <p class="status">Requesting location...</p>
                </div>

            </div>

        </div>
        
        
        <!-- <script src="https://unpkg.com/htmx.org@1.9.5"></script> -->
         
        <script>
        document.addEventListener('DOMContentLoaded', function(){
            var target = document.getElementById('outlets');
            if (!target) return;
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(pos){
                    var lat = pos.coords.latitude;
                    var lon = pos.coords.longitude;
                    // Use htmx to GET the location endpoint and swap result into .outlets
                    htmx.ajax('GET', '/location/?lat=' + encodeURIComponent(lat) + '&lon=' + encodeURIComponent(lon),
                     {target: target,
                    swap: 'innerHTML',
                });
                }, function(err){
                console.log('error')
                }, {enableHighAccuracy: true, timeout: 10000});
            } else {
                target.innerHTML = '<p>Geolocation not supported by this browser.</p>';
            }
        });
        </script>
    </body>
</html>